:root {
  --coral: #de4e45;
  --orange: #f47155;
  --pink: #ee6e73;
  --beige: #e8cdb8;
  --light-grey: #c7beaf;
  --grey: #a29b93;
  --green: #26a69a;
}

#logo {
  margin-left: 50px;
  font-size: 48px;
  font-weight: bold;
}

#login, #logout {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.flex-container {
  display: flex;
}

.image {
  height: 60%;
  width: 50%;
}

.card-panel {
  height: 60%;
  width: 50%;
}

#float-right {
  align-items: flex-start;
}

#float-left {
  align-items: flex-end;
}

.icon-block {
  margin: 5px;
}

.signup {
  background-color: #f47155;
}

.signup-modal {
  padding: 10px;
  margin: auto;
  background-color: #fff;
  width: 60%;
  color: var(--coral);
}

.signup-modal h4 {
  background-color: var(--pink);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.card-header {
  color: #fff !important;
  background-color: var(--pink) !important;
  text-align: center;
}

#buttons {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.login {
  width: 50%;
  margin: auto;
}

#modal {
  width: 60%;
  margin: auto;
}

#login, #logo, #about{
  text-decoration: none;
}

.card-image {
  width: 50%;
  margin: auto;
}

.card {
  width: 79%;
  margin: auto!important;
  margin-top: 10px!important;
}

.card-title {
  color: var(--orange)!important;
}

.card-content {
  color: var(--coral);
}

.chat {
  background-color: var(--beige);
  border-right: 2mm solid var(--coral);
  border-image: linear-gradient(to bottom, var(--coral), #F0CB35) 1;
}

#tab {
  text-decoration: none;
  border-right: 0.5mm solid #fff;
  font-size: 18px;
}