:root {
    --coral: #DE4E45;
    --orange: #F47155;
    --pink: #ee6e73;
    --beige: #E8CDB8;
    --light-grey: #c7beaf;
    --grey: #a29b93;
    --green: #26a69a;
}

#logo {
    margin-left: 50px;
    font-size: 48px;
    font-weight: bold;
}

#login {
    font-size: 24px;
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.image {
    height: 60%;
    width: 50%;
}

.card-panel {
    height: 60%;
    width: 50%;
}

#float-right {
    align-items: flex-start;
}

#float-left {
    align-items: flex-end;
}

.icon-block {
    margin: 5px;
}

.signup {
    background-color: #F47155;
}

.signup-modal {
    padding: 10px;
    margin: auto;
    background-color: #fff;
    width: 60%;
    color: var(--coral);
}

.signup-modal h4 {
    background-color: var(--pink);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.register {
   margin: auto;
}

.card-header {
    color: #fff!important;
    background-color: var(--pink)!important;
    text-align: center;
}
 